body {
  background-image: url("https://images.pexels.com/photos/1625878/pexels-photo-1625878.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: 100%;
  font-family: "Spartan", sans-serif;
  font-weight: 200;
}

.container {
  margin: 0 auto;
  padding: 2%;
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 18px;
  margin-bottom: 5%;
  background: rgba(72, 172, 190, 0.89);
  text-align: center;
}

img {
  display: inline-block;
  margin: 32px 0 0 155px;
  width: 150px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid #eeecece5;
  box-shadow: 2px 4px 4px rgb(87, 85, 85);
}

h1 {
  color: #f7f5f3;
  text-align: center;
  margin: -110px 280px 0 0;
  font-size: 75px;
  text-shadow: 3px 3px 3px black;
  font-weight: 800;
  font-family: "Parisienne", cursive;
}

h2 {
  color: #ffee00e5;
  text-align: center;
  margin: -37px auto 10px auto;
  font-size: 40px;
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}

p {
  color: rgb(242, 247, 245);
  text-align: justify;
  margin: 0 auto;
  font-size: 19px;
  text-indent: 2.5em;
  line-height: 1.8;
  padding: 0 6% 0 6%;
  text-shadow: 1px 2px 3px black;
}

a {
  text-decoration: none;
  color: #f3f707e5;
  text-shadow: 2px 2px 2px rgb(19, 19, 19);
}

h3 {
  display: block;
  color: #063326e5;
  text-align: center;
  margin: 15px auto 6px auto;
  padding: 18px 0 5px 0;
  font-size: 20px;
  font-weight: 900;
}

.h3 {
  display: block;
  color: #052e22e5;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 4px 0;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

li {
  display: inline;
  margin: 0 15px;
}

button {
  margin: 15px 15px;
  height: 210px;
  width: 260px;
  border-radius: 4px;
  border: 3px solid #f3f707e5;
  box-shadow: 5px 5px 5px black;
  font-size: 35px;
  font-weight: 600;
  text-shadow: 3px 3px 2px black;
  color: #ece7e1;
  transition: all 200ms ease-in-out;
  font-family: "Parisienne", cursive;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.thailand {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/003/726/original/thailand.jpg?1606930008");
  background-size: 260px 210px;
}

.australia {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/003/727/original/australia.jpg?1606930025");
  background-size: 260px 210px;
}

.unitedstates {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/003/728/original/usa.jpg?1606930038");
  background-size: 260px 210px;
}

.iceland {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/003/729/original/iceland.jpg?1606930053");
  background-size: 260px 210px;
}

.vietnam {
  background-image: url("https://cdn2.wanderlust.co.uk/media/4672/articles-ha-long-bay-vietnam-dreamstime.jpg?anchor=center&mode=crop&width=1200&height=0&rnd=131481209460000000");
  background-size: 260px 210px;
}

.carribean {
  background-image: url("https://www.cvvillas.com/media/20609/shutterstock_351170981.jpg?anchor=center&mode=crop&width=1366&rnd=131861492540000000");
  background-size: 260px 210px;
}

h4 {
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #05291ee5;
  line-height: 1.5;
}

.contact {
  list-style: none;
  padding: 0;
  text-align: center;
}

h5 {
  display: block;
  font-size: 16px;
  padding: 0;
  margin: 0 auto;
  color: #063527e5;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 19px;
  font-weight: 900;
  color: rgb(240, 241, 241);
  text-shadow: 3px 3px 3px rgb(14, 13, 13);
  padding: 5px 0 0 0;
}
